[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#this_package = {path = ".", editable = true}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = ">=5.2"
pytest-cov = ">=2.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
